#navbar_cont {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2vw;

    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width:90%;
    top:0px;
    z-index: 10;
}

#website_name {
    padding-top: 0px;
    padding-bottom: 0px;
}



#searchCont {
    background-color: rgba(255, 255, 255, 0.242);
    display: flex;
    flex-direction: row;
    width: 50%;
    border-radius: 25px;
    padding: 0.5% 1% 0.5% 1%;
    color: white;
    /* background-color: aqua; */
}

#searchCont form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

#searchCont form select {
    font-size: 18px;
    background-color: aquamarine;
    /* appearance: none; Remove default appearance */
    margin: 0px;
    /* padding: 2%; */
    background-color: transparent;
    border-style: none;
    border-left-style: solid;
    /* padding-right: 4%; */
    outline: none;
    margin-right: 1%;
    /* color: black; */
    color: rgb(250, 248, 248);
    cursor: pointer;
    margin-left: 2%;
    height: fit-content;
    padding-left: 2%;


}

#searchCont form select ::after {
    content: "\25BC";
    /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


#searchCont form select option {
    /* background-color: #fff; Option background color */
    background-color: rgba(15, 15, 15, 0.585);

    color: #f3f2f2;
    /* Option text color */
    font-size: 16px;
    /* Option text size */
    padding: 8px;
    /* Adjust padding as needed */
}





.searchQueryBtn {
    background-color: #b3b2b26d;
    /* Button background color */
    /* color: white; */
    /* Button text color */
    border: none;
    padding: 8px 16px;
    /* Adjust padding as needed */
    border-radius: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: rgb(248, 247, 247);
    /* margin-left: 10%; */

    /* Center vertically */
}

.searchQueryBtn::after {
    /* content: "\25BC"; */
    /* Unicode character for down arrow */
    /* position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); */
}

.searchQueryBtn::before {
    content: "\1F50D";
    /* Unicode character for search icon */
    font-size: 16px;
    /* Adjust icon size as needed */
    margin-right: 8px;
    /* Adjust spacing between icon and text as needed */
}



#login_signup_btn_box {
    font-size: 60%;
    width: 10%;
}

#login_signup_btn_box a {
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    color: white;

}

#homeBtn {
    padding: 0px;
    border-style: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}