#notificationTab{
    /* background-color: rgba(230, 0, 0, 0.456); */
    /* background-color: rgba(32, 31, 31, 0.8);  */
    background-color: transparent;
    backdrop-filter: blur(8px); /* Apply blur effect */
    /* width: 25%; */
    position:fixed;
    top: 0px;
    right: 0px;
    /* transition: 3sec; */
    transition: width 0.5s ease-in-out; /* Smooth transition */
    /* height: 100%; */
    overflow-y: scroll;
    height: 100vh;
    cursor: pointer;
    z-index: 15;
    text-align: right;
    /* filter: blur(50%); */
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.notificationTabShow{
    /* width: 25%; */
    width: 25%;
}
.notificationTabHide{
    width: 0px;
}
#notificationTab::-webkit-scrollbar {
    display: none;
  }
#notificationCont{
    /* background-color: red; */
    overflow: auto;
    padding-top: 5%;
    /* width: 80%; */
    float: right;
    background-color: rgba(32, 31, 31, 0.8); 
}
.notificationBox{
    background-color:transparent;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    
    z-index: -2;
    /* background-color: aqua; */
    border-bottom: solid;
    border-color: rgb(167, 166, 166);
    border-width: 1.5px;
    /* justify-content: left; */
}
.notificationBox:hover{
    /* background-color: red; */
    background-color: rgba(64, 63, 63, 0.781);
}
.notificationBox p{
    /* color:black; */
    text-align: left;
}
.notificationBox p strong{
    /* color:white; */
    /* color:black; */
    /* padding-left: 5%; */
    /* padding-right: 5%; */
}
.unread-notifications{
    /* background-color:red; */
    color: rgb(221, 18, 18);
}
.read-notifications{

    color: rgb(219, 219, 219);
}
