.cursor-pointer{
  cursor: pointer;
}
.no-result-found{
  color:white;
  margin-left:5%;
  font-size: 25px;
  margin-top:2%;
}


.inline-block{
  display: inline-block;
}

.loader {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  height: 56px;
  width: 56px;
  box-sizing: border-box;
  background: conic-gradient(
    from 90deg at 50% 50%,
    rgba(39, 174, 96, 0) 0deg,
    rgba(31, 144, 255, 0) 0.04deg,
    #1f90ff 360deg
  );
  border-radius: 56px;
 
  animation: 1s rotate infinite linear;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-top:1%; */
  /* display: block; */
  /* order: 10; */
  /* position: absolute; */

}

.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  /* background: #957777; */
  background-color: #121212;
  border-radius: 48px;
}
.loader::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background: #1f90ff;
  border-radius: 8px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 


.commentLoader{
  
  height: 56px;
  width: 56px;
  box-sizing: border-box;
  background: conic-gradient(
    from 90deg at 50% 50%,
    rgba(39, 174, 96, 0) 0deg,
    rgba(31, 144, 255, 0) 0.04deg,
    #1f90ff 360deg
  );
  border-radius: 56px;
 
  animation: 1s rotate infinite linear;
 
  margin-top:1%;
}

.commentLoader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  
  background-color: #121212;
  border-radius: 48px;
}

.commentLoader::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background: #1f90ff;
  border-radius: 8px;
} */



.commentLoader {
  height: 30px; /* Reduced from 56px to 33.6px */
  width: 30px; /* Reduced from 56px to 33.6px */
  border-radius: 20px; /* Reduced from 56px to 33.6px */
  box-sizing: border-box;
  background: conic-gradient(
    from 90deg at 50% 50%,
    rgba(39, 174, 96, 0) 0deg,
    rgba(31, 144, 255, 0) 0.04deg,
    #1f90ff 360deg
  );
  animation: 1s rotate infinite linear;
  margin-top: 0.6%;
  margin-left:1%;
  /* background-color: aqua; */
}

.commentLoader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20px; /* Reduced from 40px to 24px */
  width: 20px; /* Reduced from 40px to 24px */
  /* background-color: #121212; */
  background-color : #2a2929;
  border-radius: 20px; /* Reduced from 48px to 28.8px */
  z-index: 20;
}

.commentLoader::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px; /* Reduced from 8px to 4.8px */
  width: 4px; /* Reduced from 8px to 4.8px */
  background: #1f90ff;
  border-radius: 4px;
}
